body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
#navbarBtn{
  display: inline-block;
}
.fp-container{
  position: fixed;
  width: 60%;
  height: 60%;
  top: 0px;
  left: 0px; 
}
.fp-container .fp-loader{
  top: 30%;
  left: 70%;
  z-index: 1000;
  position: absolute;
}
#selectMon{
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
.table td  {
  text-align: center;   
  vertical-align: middle;
}
.table th  {
  text-align: center;   
  vertical-align: middle;
}
body {
  padding-right: 0px !important
  
}
.modal-open {
  overflow-y: auto;
}

table{
  padding-right: 0px !important
}
#tableSearch{
  min-width: 100%;
  padding: 35px auto;
}
.navbar-dark .navbar-nav .nav-link{
  color:white;
}
#img-set{
  width: 18px;
  height: 18px;
}
nav ul li a{
  color: white;
}
nav ul li a:hover{
  color: wheat;
  text-decoration: none;
}
.li-text{
  color: white;
} 
.dropdown-menu{
  background-color: darkslategrey;
}
#navBar{
  background-color: #2d545e!important;
}
/*addItem*/
.borderColor{
  border:1px solid lightgray;
  padding:24px;
  border-radius:3px;
}
.label-font-size{
  font-size:0.9em;
}
.imgStyle{
  width:50%;
}
/*todoList*/
.delTodo{
  font-size:28px;
  color:red;
  cursor:pointer;
}
/*seatchItem, changeUpdateData*/
.textInTable {
  text-decoration: underline; 
  cursor: pointer;
}
/*modalBootstrap*/
.image-done{
  width:1.3em;
}
/*navBar*/

#logoutImg{
  background-color:#2d545e;
}
.user-info{
  font-size:0.8em;
}
.table-bordered thead td, .table-bordered thead th{
  background-color: beige;
  text-align: center;   
  vertical-align: middle;
}
.table td{
  text-align: center;   
  vertical-align: middle;
}
#pwd-control:placeholder-shown{
  background-color: pink;
}
#pwd-control-label{
  font-weight: bold;
  color: rgb(247, 83, 110);
}
.select-date-sort{
  padding: 0 35% 0 30%;
}
.table-bulevar th{
  background-color: #FFDf6C!important;
  color: rgb(19, 18, 18)!important;
}
.list-rest{
  background-color: rgb(233, 244, 248);
}
#spanNumber{
  font-size: 1.9em;
  margin: 0 1rem 0 1rem;
  padding-top: 1rem;
}
.btnPlus{
  margin-left: 0.5rem;
  color: blue;
}
.btnPlus:hover{
  margin-left: 0.5rem;
  color: rgb(72, 72, 248)!important;
}
.btnMinus{
  color: red;
}
.btnMinus:hover{
  color: rgb(250, 58, 58);
}
.btnMinus, .btnPlus{
  font-size: 20px;
  cursor: pointer;
}
.btnSubmitPrice{
  font-size: 1.2rem;
}
#itemError{
  color: red;
}
.calcPrice{
  background-color: lightcoral;
  color: white;
  border-radius: 3px;
}
#dataBaseFull{
  font-size:36px;
  color:green
}
#dataBaseEmpty{
  font-size:36px;
  color:red
}
#removeItemL{
  font-size:24px;
  color:red;
  cursor:pointer;
}
#editTodoRest{
  cursor:pointer;
  color: rgb(41, 40, 40);
}
.delTodoRest{
  font-size:28px;
  color:rgb(46, 16, 102);
  cursor:pointer;
}
#todoFlag{
  font-size:'24px';
  color: rgb(235, 15, 15);
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
}
.btnSubmitPrice, .btnResetPrice{
  font-size: 1.2rem;
  border-radius: 0.25rem !important;
}
